$colors: (
  primary: #1776e7,
  primaryDark: #2A3D36,
  onSurface: #2D2D2A,
  onSurfaceLowest: #F3EDE0,
  onSurfaceLow: #C8C6A7,
  onSurfaceHigh: #515A47,
  onSurfaceHighest: #1C1C1B,
  surfaceContainerHighest: #8C897A,
  surfaceContainerHigh: #BAB6A9,
  surfaceContainer: #E1DDCE,
  surfaceContainerLow: #EDEAE3,
  surfaceContainerLowest: #FAF9F6,
)
//
//surfaceContainerLowest: #8C897A,
//surfaceContainerLow: #BAB6A9,
//surfaceContainer: #E1DDCE,
//surfaceContainerHigh: #FAF9F6,
//surfaceContainerHighest: #EDEAE3,