$colors: (
  primary: #6487f8,
  primaryDark: #3660ec,
  content-normal: #1a1919,
  content-light: #e1e1e1,
  content-dark: #1a1919,
  surfaceContainerHighest: #f0f3f6,
  surfaceContainerHigh: #dde2fa,
  surfaceContainer: #a8aec8,
  surfaceContainerLow: #686c7d,
  surfaceContainerLowest: #2a2c35,
)
//
//surfaceContainerLowest: #8C897A,
//surfaceContainerLow: #BAB6A9,
//surfaceContainer: #E1DDCE,
//surfaceContainerHigh: #FAF9F6,
//surfaceContainerHighest: #EDEAE3,